<a href="https://colab.research.google.com/github/Lucas-Voss/curso-github/blob/main/Din%C3%A2mica_Aula_Ao_Vivo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lucas Voss, RID 73841

In [ ]:
# Questão 1
x = 5
print(type(x))
x = 5.0
print(type(x))
x = 5.5
print(type(x))
x = 'DNC'
print(type(x))
x = 1/2
print(type(x))
x = 0.5*2
print(type(x))
x = 2**4
print(type(x))
x = 2+4
print(type(x))
x = 1000000000
print(type(x))

x = int(input('Digite um número inteiro: '))
print(type(x))
x = float(input('Digite um número: '))
print(type(x))
x = str(input('Digite um texto: '))
print(type(x))
x = input('Digite qualquer dado: ')
print(type(x))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>
Digite um número inteiro: 13
<class 'int'>
Digite um número: 13.3
<class 'float'>
Digite um texto: treze
<class 'str'>
Digite qualquer dado: 33 dados
<class 'str'>

In [ ]:
# Questão 2
frase = 'DS06 - DNC'
print('-'*50+'\n'+'-'*50)
print(' '*int(49/2-len(frase)/2), frase)
print('-'*50+'\n'+'-'*50)

--------------------------------------------------
--------------------------------------------------
                    DS06 - DNC
--------------------------------------------------
--------------------------------------------------

In [ ]:
# Questão 3
salario_cientista_de_dados = 10000.00
parcela_bmw = 2500.45
parcela_apartamento = 3500.50
veterinario_romeuzinho = 500.00
luz = 100.80
agua = 80.35
condominio = 800.44
gas = 150.65
poupanca = 0

poupanca = salario_cientista_de_dados - parcela_bmw - parcela_apartamento - veterinario_romeuzinho - luz - agua - condominio - gas
print("*"*100)
print('Seu salário de cientista de dados jr é deR$ {:.1f} e seus gastos estão dispostos a seguir'.format(salario_cientista_de_dados))
print('Parcela da BMW = ', parcela_bmw)
print('Parcela da apartametno = ', parcela_apartamento)
print('veterinario do Romeuzinho = ', int(veterinario_romeuzinho))
print('Conta de luz = ', luz)
print('Conta de água ', agua)
print('Conta de condomínio = ', condominio)
print('Conta de gás = ', gas)
print("*"*100)
print('O valor disponível para colocar na poupança é de: R$',poupanca)

****************************************************************************************************
Seu salário de cientista de dados jr é deR$ 10000.0 e seus gastos estão dispostos a seguir
Parcela da BMW =  2500.45
Parcela da apartametno =  3500.5
veterinario do Romeuzinho =  500
Conta de luz =  100.8
Conta de água  80.35
Conta de condomínio =  800.44
Conta de gás =  150.65
****************************************************************************************************
O valor disponível para colocar na poupança é de: R$ 2366.81

In [ ]:
# Questão 4
# 1.Formação_em_dados = 20000.00
# 2.Formação_em_projetos = 15000.00
# 3.Formação_em_marketing = 13000.00
# 4.Formação_em_produto = 18000.00
# 5.Formação_em_tecnologia = 19000.00

formacao = ['Dados', 20000.00, 'Projeto', 15000.00, 'Marketing', 13000.00, 'Produto', 18000.00, 'Tecnologia', 19000.00]

f = 0
while True:
  f = int(input('Qual curso você quer escolher (1=Formação_em_dados, 2=Formação_em_projetos, \n3=Formação_em_marketing, 4=Formação_em_produto, 5=Formação_em_tecnologia)?'))
  if f >= 1 and f <= 5:
    break
  print('Digite um valor correspondente a um curso de nossas formações \n1=Formação em dados, \n2=Formação em projetos, \n3=Formação em marketing, \n4=Formação em produto, \n5=Formação em tecnologia')
for i, v in enumerate(formacao):
  if i+1 >= f*2:
    print(f'Você escolheu o curso Formação em {formacao[i-1]} no valor de R$ {formacao[i]:.2f} que começará no próximo mês')
    break

Qual curso você quer escolher (1=Formação_em_dados, 2=Formação_em_projetos,
3=Formação_em_marketing, 4=Formação_em_produto, 5=Formação_em_tecnologia)?12
Digite um valor correspondente a um curso de nossas formações
1=Formação em dados,
2=Formação em projetos,
3=Formação em marketing,
4=Formação em produto,
5=Formação em tecnologia
Qual curso você quer escolher (1=Formação_em_dados, 2=Formação_em_projetos,
3=Formação_em_marketing, 4=Formação_em_produto, 5=Formação_em_tecnologia)?1
Você escolheu o curso Formação em Dados no valor de R$ 20000.00 que começará no próximo mês

In [ ]:
# Questão 5
formacaoPreco = ['Dados', 20000.00, 'Projeto', 15000.00, 'Marketing', 13000.00, 'Produto', 18000.00, 'Tecnologia', 19000.00]
qtdeCursos = ['Dados', 10, 'Projeto', 2, 'Marketing', 10, 'Produto', 6, 'Tecnologia', 5]
totalCursos = []
curso = 0
i = 0
receita = 0
qtdeTotal = 0
receitaMedia = 0

for p, q in zip(formacaoPreco, qtdeCursos):
  if i%2 == 0:
    curso = p
    i += 1
  else:
    curso = p * q
    qtdeTotal += q
    i += 1
    print(f'Foram vendidos {q} cursos de {qtdeCursos[i-2]}')
  totalCursos.append(curso)



for i in range(1,len(totalCursos)+1,2):
  receita += totalCursos[i]


print(f'Totalizando R$ {receita:.2f} em vedas')
print(f'E a média de receita por curso foi de R$ {receita/5:.2f}')
if receita >= 2000000:
  print('Parabéns!!! A DNC bateu a meta do mês')
else:
  print("Esse mês não batemos a meta, porém mês que vem vamos vir mais fortes pra recuparar!!!")

Foram vendidos 10 cursos de Dados
Foram vendidos 2 cursos de Projeto
Foram vendidos 10 cursos de Marketing
Foram vendidos 6 cursos de Produto
Foram vendidos 5 cursos de Tecnologia
Totalizando R$ 563000.00 em vedas
E a média de receita por curso foi de R$ 112600.00
Esse mês não batemos a meta, porém mês que vem vamos vir mais fortes pra recuparar!!!

In [ ]:
# Questão 6
parar = int(input('Digite o número de onde ele deve parar: '))
soma = 0
for i in range(1,parar+1):
  soma += i

print(soma)

Digite o número de onde ele deve parar: 3
6

In [ ]:
# Questão 7

proxima = 'p'
while proxima == 'p':
  proxima = input('De um comando: ')
  if proxima == 'p':
    print('Próxima música')
  
print('Fechando o app')
print('Até a próxima')

De um comando: p
Próxima música
De um comando: p
Próxima música
De um comando: 1
Fechando o app
Até a próxima

In [ ]:
from random import normalvariate
# Questão 8
nomes = 0
nome = 0
for i in range (0,3):
  nome = input(f'Digite o {i+1}º nome: ')
  print(f'Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo, {nome}')

Digite o 1º nome: Lucas
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo, Lucas
Digite o 2º nome: Daniele
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo, Daniele
Digite o 3º nome: Luan
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo, Luan

In [ ]:
# Questão 9

In [ ]:
# Questão 10

In [ ]:
# Questão 11